/* Fonts:
  https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
  ========================================================================== */
@import "mixins";

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Lato-Bold";

  src: url("../fonts/LatoLatin-Bold.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/LatoLatin-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/LatoLatin-Bold.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/LatoLatin-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Lato-Regular";

  src: url("../fonts/LatoLatin-Regular.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/LatoLatin-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/LatoLatin-Regular.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/LatoLatin-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Lato-Light";

  src: url("../fonts/Lato-Light.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/Lato-Light.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/Lato-Light.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/Lato-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// HelveticaNeueCyr - BLACK


/*
  One of the ways:
  1. handle method,
  2. use mixin;
*/

// 1. Example handle method (without mixin):

/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// 2. Example with mixin (example):

/* NOTE:
  1. do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans;
  2, files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin.
*/

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);
